---
- hosts: uberspace
  remote_user: !vault |
    $ANSIBLE_VAULT;1.1;AES256
    31616237336530313633313733333431636161633633363761303463366235643835376162393738
    3338613934373461373765376638323731323934316437610a363164343364623365336234633666
    36376134343634316464353831303436656236313436633437323331396239613231353337343433
    3636666431633963320a376462386363323565343766653764633030666234383633633562343636
    6231
  roles:
    - role: fubarhouse.rust
  tasks:
    - name: Copy file with owner and permissions
      copy:
        src: ../target/release/rust-contact-mailer
        dest: ~/rust-contact-mailer
        owner: mknet
        group: mknet
        mode: '0755'